<%- include('partials/headers', {page_title: "Acceuil"}) %>

<style>
    .card-img {
        height: 100px; /* Reduced height */
        object-fit: contain; /* Ensure the entire icon is visible */
    }
    .card-text.description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .fixed-size-card {
        width: 350px; /* Define a fixed width for the cards */
    }
    .card-header {
        width: 100%; /* Ensure the header takes the full width of the card */
    }
    .btn-full-width {
        width: 100%; /* Make the button take the full width */
        margin-top: auto; /* Push the button to the bottom */
    }
    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
    .btn-install {
        background-color: #28a745; /* Soft green */
        border-color: #28a745;
        color: white;
    }
    .btn-install:hover {
        background-color: #218838; /* Darker green on hover */
        border-color: #1e7e34;
    }
    .btn-uninstall {
        background-color: #dc3545; /* Soft red */
        border-color: #dc3545;
        color: white;
    }
    .btn-uninstall:hover {
        background-color: #c82333; /* Darker red on hover */
        border-color: #bd2130;
    }
    .progress {
        display: none;
        height: 20px;
    }
    .card-header {

        font-size: 1.25rem; /* Augmenter la taille de la police */
        font-weight: bold; /* Rendre le texte en gras */
        text-align: center; /* Centrer le texte */
        /*border-bottom: 2px solid #b3b7bc; /* Ajouter une bordure en bas */
        /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter une ombre */
        /*padding: 10px; /* Ajouter un peu de padding */
    }
    #loading-message {
        font-size: 1.2rem;
        color: #6c757d;
    }
</style>

<div class="container">
    <div class="row search-bar">
        <div class="col-md-8">
            <input type="text" class="form-control" id="searchInput" placeholder="Rechercher...">
        </div>
        <div class="col-md-4">
            <select class="form-control" id="categoryFilter">
                <option value="">Toutes les catégories</option>
            </select>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-auto g-4 justify-content-center" id="appContainer">
        <!-- Message temporaire en attendant les données -->
        <div id="loading-message" class="text-center my-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Chargement...</span>
            </div>
            <p class="mt-3">Chargement des applications en cours...</p>
        </div>
    </div>
</div>

<div id="alert-container" class="fixed-top mt-3 mx-3"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.electron.on('load-apps', function(apps) {
        const container = document.getElementById('appContainer');
        const loadingMessage = document.getElementById('loading-message');
        if (loadingMessage) loadingMessage.remove();

        container.innerHTML = ''; // Clear existing cards

            apps.forEach(app => {
                const col = document.createElement('div');
                col.className = 'col app-card';
                col.setAttribute('data-name', app.name);
                col.setAttribute('data-category', app.category);

                col.innerHTML = `
                    <div class="card mb-3 fixed-size-card" data-bs-toggle="tooltip" title="${app.description}">
                        <div class="card-header">
                            <h5 class="card-title">${app.name}</h5>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="data:image/png;base64,${app.icon}" class="img-fluid rounded-start card-img" alt="${app.name}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text description">${app.description}</p>
                                    <p class="card-text"><small class="text-muted">${app.editor}</small></p>
                                    <p class="card-text"><small class="text-muted">${app.category}</small></p>
                                    <a href="#" class="btn btn-primary btn-full-width ${app.is_installed ? 'btn-uninstall' : 'btn-install'}" 
                                    data-app-id="${app.appid}" 
                                    data-app-source="${app.source}" 
                                    data-app-argument="${app.argument}" 
                                    data-app-needadm="${app.needadm}">
                                    ${app.is_installed ? 'Désinstaller' : 'Installer'}
                                    </a>
                                    <div class="progress mt-2">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                container.appendChild(col);

                // Initialize Install/Uninstall buttons
                col.querySelectorAll('.btn-install').forEach((button) => {
                    button.addEventListener('click', (e) => {
                        e.preventDefault();
                        const appId = button.getAttribute('data-app-id');
                        const appSource = button.getAttribute('data-app-source');
                        const appArgument = button.getAttribute('data-app-argument');
                        const appNeedAdm = parseInt(button.getAttribute('data-app-needadm'), 10);
                        window.electron.send('install-app', appId, appSource, appArgument, appNeedAdm);
                    });
                });

                col.querySelectorAll('.btn-uninstall').forEach((button) => {
                    button.addEventListener('click', (e) => {
                        e.preventDefault();
                        const appId = button.getAttribute('data-app-id');
                        const appSource = button.getAttribute('data-app-source');
                        const appArgument = button.getAttribute('data-app-argument');
                        const appNeedAdm = parseInt(button.getAttribute('data-app-needadm'), 10);
                        window.electron.send('uninstall-app', appId, appSource, appArgument, appNeedAdm);
                    });
                });
            });

            // Met à jour les filtres (optionnel)
            updateCategoryFilter();
        });

        function updateCategoryFilter() {
            const appCards = document.querySelectorAll('.app-card');
            const categoryFilter = document.getElementById('categoryFilter');
            const categories = new Set();
            categoryFilter.innerHTML = '<option value="">Toutes les catégories</option>'; // Reset
            appCards.forEach(card => {
                categories.add(card.getAttribute('data-category'));
            });
            categories.forEach(category => {
                const option = document.createElement('option');
                option.value = category;
                option.textContent = category;
                categoryFilter.appendChild(option);
            });
        }

    // Met à jour les filtres (optionnel)
    updateCategoryFilter();

    // Initialisation des filtres après chargement des apps
    const searchInput = document.getElementById('searchInput');
    const categoryFilter = document.getElementById('categoryFilter');

    // Recherche par texte
    searchInput.addEventListener('input', function () {
        filterApps(this.value.toLowerCase(), categoryFilter.value);
    });

    // Filtrage par catégorie
    categoryFilter.addEventListener('change', function () {
        filterApps(searchInput.value.toLowerCase(), this.value);
    });

    // Fonction de filtrage des applications
    function filterApps(searchValue, categoryValue) {
        const appCards = document.querySelectorAll('.app-card'); // Toujours à jour
        appCards.forEach(function (card) {
            const appName = card.getAttribute('data-name').toLowerCase();
            const appCategory = card.getAttribute('data-category');
            if (appName.includes(searchValue) && (categoryValue === '' || appCategory === categoryValue)) {
                card.style.display = '';
            } else {
                card.style.display = 'none';
            }
        });
    }


        // IPC event listeners
        window.electron.on('install-progress', function(msg) {
            console.log('Install progress:', msg.data);
            var button = document.querySelector(`a[data-app-id="${msg.app_id}"]`);
            if (button) {
                var progressBar = button.nextElementSibling.querySelector('.progress-bar');
                var progressContainer = button.nextElementSibling;
                progressContainer.style.display = 'block'; // Afficher la barre de progression
                button.style.display = 'none'; // Cacher le bouton "Installer"
                var progress = extractProgress(msg.data);
                if (progress !== null) {
                    progressBar.style.width = progress + '%';
                    progressBar.textContent = progress.toFixed(2) + '%';
                }
                if (msg.data.includes('Downloading')) {
                    progressBar.textContent = 'Téléchargement... ' + progressBar.textContent;
                } else if (msg.data.includes('Successfully verified installer hash')) {
                    progressBar.textContent = 'Téléchargement OK';
                } else if (msg.data.includes('Starting package install')) {
                    progressBar.textContent = 'Installation... ' + progressBar.textContent;
                }
            }
        });

        window.electron.on('install-complete', function(msg) {
            var button = document.querySelector(`a[data-app-id="${msg.app_id}"]`);
            if (button) {
                var progressContainer = button.nextElementSibling;
                progressContainer.style.display = 'none';
                button.style.display = 'block';
                showAlert(msg.status === 'success' ? 'success' : 'danger', msg.message);
                if (msg.status === 'success') {
                    button.textContent = 'Désinstaller';
                    button.classList.remove('btn-install');
                    button.classList.add('btn-uninstall');
                }
            }
        });

        window.electron.on('uninstall-complete', function(msg) {
            var button = document.querySelector(`a[data-app-id="${msg.app_id}"]`);
            if (button) {
                var progressContainer = button.nextElementSibling;
                progressContainer.style.display = 'none';
                button.style.display = 'block';
                showAlert(msg.status === 'success' ? 'success' : 'danger', msg.message);
                if (msg.status === 'success') {
                    button.textContent = 'Installer';
                    button.classList.remove('btn-uninstall');
                    button.classList.add('btn-install');
                }
            }
        });

        function extractProgress(data) {
            var match = data.match(/(\d+(\.\d+)?) MB \/ (\d+(\.\d+)?) MB/);
            if (match) {
                var downloaded = parseFloat(match[1]);
                var total = parseFloat(match[3]);
                return (downloaded / total) * 100;
            }
            return null;
        }

        function showAlert(type, message) {
            var alertContainer = document.getElementById('alert-container');
            var alert = document.createElement('div');
            alert.className = `alert alert-${type} alert-dismissible fade show`;
            alert.setAttribute('role', 'alert');
            alert.innerHTML = `
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            alertContainer.appendChild(alert);
            setTimeout(() => {
                alert.classList.remove('show');
                alert.classList.add('hide');
                setTimeout(() => alert.remove(), 500);
            }, 5000);
        }
    });
</script>

<%- include('partials/footers') %>